## Chap6-1:DataFrame loc,iloc
### DaraFrame比numpy ndarry(element-wise)提供資料統整的功能
### DaraFrame通常為2為資料
### 橫的為列(索引index),直的為屬(columus)

In [7]:
# 隨機產生DataFrame資料

import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(6,6),index=list('abcdef'),
                      columns=list('ABCDEF'))
frame

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
b  0.455118  0.709929  0.763170  0.126180  0.921557  0.086241
c  0.198046  0.482825  0.534350  0.229466  0.424747  0.500313
d  0.649525  0.102024  0.264613  0.885100  0.467070  0.594919
e  0.134519  0.327949  0.243966  0.178303  0.172484  0.402401
f  0.498440  0.688622  0.201756  0.040488  0.468221  0.607672

## loc 用欄位來找出dataframe的資料
## iloc 用欄位來找出dataframe的資料

In [9]:
frame.describe()

              A         B         C         D         E         F
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.359993  0.501377  0.368987  0.341028  0.477166  0.424402
std    0.203726  0.247666  0.229677  0.326112  0.244091  0.193958
min    0.134519  0.102024  0.201756  0.040488  0.172484  0.086241
25%    0.204612  0.366668  0.215540  0.139211  0.412876  0.366751
50%    0.339714  0.585724  0.254290  0.203884  0.445909  0.451357
75%    0.487610  0.694838  0.466916  0.497340  0.467934  0.571267
max    0.649525  0.709929  0.763170  0.885100  0.921557  0.607672

In [10]:
frame.loc['a','A']

0.2243106476132284

In [12]:
#取前兩列的對應資料
frame.loc['a':'b',:]

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
b  0.455118  0.709929  0.763170  0.126180  0.921557  0.086241

In [14]:
#取前兩欄的對應資料
frame.loc[:,'A':'B']

          A         B
a  0.224311  0.696911
b  0.455118  0.709929
c  0.198046  0.482825
d  0.649525  0.102024
e  0.134519  0.327949
f  0.498440  0.688622

In [17]:
#取特殊列、欄的資料
frame.loc[['a','c'],:]

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
c  0.198046  0.482825  0.534350  0.229466  0.424747  0.500313

In [21]:
#取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
c  0.198046  0.482825  0.534350  0.229466  0.424747  0.500313
          A         C
a  0.224311  0.206065
b  0.455118  0.763170
c  0.198046  0.534350
d  0.649525  0.264613
e  0.134519  0.243966
f  0.498440  0.201756
          A         D
a  0.224311  0.586632
d  0.649525  0.885100

In [22]:
frame

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
b  0.455118  0.709929  0.763170  0.126180  0.921557  0.086241
c  0.198046  0.482825  0.534350  0.229466  0.424747  0.500313
d  0.649525  0.102024  0.264613  0.885100  0.467070  0.594919
e  0.134519  0.327949  0.243966  0.178303  0.172484  0.402401
f  0.498440  0.688622  0.201756  0.040488  0.468221  0.607672

## iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [23]:
frame.iloc[0,0]

0.2243106476132284

In [25]:
#取前兩欄的對應資料
frame.iloc[0:2,:]

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
b  0.455118  0.709929  0.763170  0.126180  0.921557  0.086241

In [26]:
#取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D         E         F
a  0.224311  0.696911  0.206065  0.586632  0.408918  0.354868
c  0.198046  0.482825  0.534350  0.229466  0.424747  0.500313
          A         C
a  0.224311  0.206065
b  0.455118  0.763170
c  0.198046  0.534350
d  0.649525  0.264613
e  0.134519  0.243966
f  0.498440  0.201756
          A         D
a  0.224311  0.586632
d  0.649525  0.885100

# 真正的6

In [30]:
import numpy as np
import pandas as pd
groups =["Modern Web","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen =[59,9,19,14,6,np.nan]
ironmen_dict={"group":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
#print(ironmen_df)
print(ironmen_df.loc[:,"group"].isnull())#判斷哪些組是遺失的
print(ironmen_df.loc[:,"ironmen"].notnull())#判斷哪些組的鐵人樹不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: group, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [32]:
print(ironmen_df.group[ironmen_df.loc[:,"group"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()])

2    NaN
Name: group, dtype: object
0    59.0
1     9.0
2    19.0
3    14.0
4     6.0
Name: ironmen, dtype: float64

In [35]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() #刪除遺失值
print(ironmen_df_dropped)
ironmen_df_filled = ironmen_df.fillna(0)
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"Cloud","ironmen":71})
print(ironmen_df_fillvalue)

        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0